<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Если файл или папка существует — не трогаем
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Всё остальное → index.html
  RewriteRule ^ index.html [L]
</IfModule>